@model SycamoreHockeyLeaguePortal.Models.PlayoffSeries

@{
    ViewData["Title"] = "New Playoff Series";
}

<h1>@ViewBag.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SeasonId" class="control-label"></label>
                <select asp-for="SeasonId" class="form-control" asp-items="ViewBag.Seasons" onchange="submit()"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoundId" class="control-label"></label>
                <select asp-for="RoundId" class="form-control" id="round-list" asp-items="ViewBag.Rounds" onchange="submit()"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Index" class="control-label"></label>
                <div class="btn-group" role="group" id="series-index-list">
                    @for (int ascii = 65; ascii <= 79; ascii++)
                    {
                        char character = (char)ascii;
                        <input type="radio" class="btn-check" asp-for="Index" id="@character" value="@character" />
                        <label class="btn btn-outline-primary" for="@character">@character</label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Team1Id" class="control-label"></label>
                <select asp-for="Team1Id" class="form-control" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <label asp-for="Team2Id" class="control-label"></label>
                <select asp-for="Team2Id" class="form-control" asp-items="ViewBag.Teams"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-route-complete="true" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
