@model List<RankedPlayoffSeries>

@{
    ViewData["Title"] = "Rankings";

    int ranking = 1;
}

<h1>Rankings</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Season</th>
            <th>Round</th>
            <th>Matchup</th>
            <th>Score</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var matchup in Model)
        {
            <tr>
                <td>@ranking</td>
                <td>@matchup.Season.Year</td>
                <td>@matchup.Round.Name</td>
                <td>@matchup.Matchup.Team1!.Code vs @matchup.Matchup.Team2!.Code</td>
                <td>@matchup.OverallScore</td>
                <td>
                    <a asp-controller="PlayoffSeries" asp-action="Details" asp-route-id="@matchup.Id">Breakdown</a>
                </td>
            </tr>

            ranking++;
        }
    </tbody>
</table>