@model SycamoreHockeyLeaguePortal.Models.Schedule

@{
    ViewData["Title"] = $"{Model.Date.ToShortDateString()} - {Model.AwayTeam.Code} {Model.AwayScore} - {Model.HomeScore} {Model.HomeTeam.Code} ({Model.ShortStatus})";

    string domain = ViewBag.APIDomain;

    string CanGameBeFinalized() {
        return (Model.IsLive && !Model.IsFinalized && Model.Period >= 3 && Model.AwayScore != Model.HomeScore) ?
            "" : "disabled";
    }
}

@Html.Partial("Partials/Scoreboard.cshtml", Model)

@if (Model.IsLive && !Model.IsFinalized)
{
    <div class="row">
        <div class="col-md-4 container game-controls">
            <div class="row">
                <div class="col form-group">
                    <label asp-for="AwayScore" class="control-label"></label><br />
                    <a class="btn btn-primary" id="btn-away-goal" data-url="@(domain + $"Schedule/AwayGoal/{Model.Id}")">+1</a>
                    <br />
                    <a class="btn btn-secondary" id="btn-remove-away-goal" data-url="@(domain + $"Schedule/RemoveAwayGoal/{Model.Id}")">-1</a>
                </div>
                <div class="col form-group">
                    <label asp-for="Period" class="control-label"></label><br />
                    <a class="btn btn-primary" id="btn-next-period" data-url="@(domain + $"Schedule/NextPeriod/{Model.Id}")">+1</a>
                    <br />
                    <a class="btn btn-secondary" id="btn-previous-period" data-url="@(domain + $"Schedule/PreviousPeriod/{Model.Id}")">-1</a>
                </div>
                <div class="col form-group">
                    <label asp-for="HomeScore" class="control-label"></label><br />
                    <a class="btn btn-primary" id="btn-home-goal" data-url="@(domain + $"Schedule/HomeGoal/{Model.Id}")">+1</a>
                    <br />
                    <a class="btn btn-secondary" id="btn-remove-home-goal" data-url="@(domain + $"Schedule/RemoveHomeGoal/{Model.Id}")">-1</a>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <a class="btn btn-secondary exit-button" id="btn-save-game" asp-action="SaveGame" asp-route-id="@Model.Id">Save</a>
                    <a class="btn btn-primary exit-button @CanGameBeFinalized()" id="btn-finalize-game" asp-action="FinalizeGame" asp-route-id="@Model.Id">Finalize</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center" style="margin-top: 50px; margin-bottom: 50px;">
        <h4 class="text-danger">This game is not currently live and cannot be manipulated.</h4>
        <a asp-controller="Schedule" asp-action="Index" asp-route-weekOf="@Model.Date.ToShortDateString()">Back to Schedule</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}