@model IEnumerable<SycamoreHockeyLeaguePortal.Models.Schedule>
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    var date = ViewBag.Date;
    var dates = ViewBag.Dates;

    ViewData["Title"] = $"Schedule - Week of {GetWeekOfString(date)}";

    string GetName(Team team)
    {
        var teamsInSameCity = _context.Team
            .Where(t => t.City == team.City);

        if (teamsInSameCity.Count() > 1)
            return team.AlternateName;

        return team.City;
    }

    string GetDateString(DateTime date)
    {
        return $"{GetDayOfWeek(date)}, {GetMonth(date)} {date.Day}";
    }

    string GetWeekOfString(DateTime date)
    {
        return $"{GetShortMonth(date)} {date.Day}, {date.Year}";
    }

    string GetDayOfWeek(DateTime date)
    {
        return date.ToString("dddd");
    }

    string GetMonth(DateTime date)
    {
        return date.ToString("MMMM");
    }

    string GetShortMonth(DateTime date)
    {
        return date.ToString("MMM");
    }

    string GetDateRangeString(DateTime start, DateTime end)
    {
        if (start.Year != end.Year)
            return $"{start.ToString("MMMM")} {start.Day}, {start.Year} - {end.ToString("MMMM")} {end.Day}, {end.Year}";

        if (start.Month != end.Month)
            return $"{start.ToString("MMMM")} {start.Day} - {end.ToString("MMMM")} {end.Day}, {end.Year}";

        return $"{start.ToString("MMMM")} {start.Day} - {end.Day}, {end.Year}";
    }
}

<h1 style="margin: 0;">Schedule</h1>
<h4>@GetDateRangeString(ViewBag.Date, ViewBag.EndOfWeek)</h4>

<form asp-action="Index" method="get">
    <div class="container schedule-controls align-items-center">
        <div class="row">
            <div class="col">
                <ul class="pagination">
                    <li class="page-item" id="previous-week">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-team="@ViewBag.Team"
                           asp-route-weekOf="@ViewBag.Date.AddDays(-7).ToShortDateString()">&lang;</a>
                    </li>
                    <li class="page-item">
                        <input type="date" class="form-control page-link" name="weekOf" value="@ViewBag.Date.ToShortDateString()" onchange="submit()" />
                    </li>
                    <li class="page-item" id="next-week">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-team="@ViewBag.Team"
                           asp-route-weekOf="@ViewBag.Date.AddDays(7).ToShortDateString()">&rang;</a>
                    </li>
                    <li class="page-item" id="today">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-team="@ViewBag.Team"
                           asp-route-weekOf="@DateTime.Now.ToShortDateString()">Today</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                Team:
                @Html.DropDownList("team", (IEnumerable<SelectListItem>)ViewBag.Teams, "All Teams", new { onchange = "submit()" })
            </div>
            <div class="col">
                <a asp-action="Formula">Scheduling Formula</a>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row d-flex justify-content-center">
        @if (Model.Any())
        {
            foreach (var gameDate in dates)
            {
                ViewBag.Date = gameDate;
                <partial name="Partials/GameDaySchedule.cshtml" />
            }
        }
        else
        {
            <h4 class="text-danger text-center">There are no games available for this date range.</h4>
        }
    </div>
</div>