@model IEnumerable<SycamoreHockeyLeaguePortal.Models.Schedule>
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    int season = ViewBag.Season;
    int round = ViewBag.Round;
    string roundName = ViewBag.RoundName;
    List<DateTime> dates = ViewBag.Dates;
    ViewData["Title"] = $"{season} {roundName}";

    string GetName(Team team)
    {
        var teamsInSameCity = _context.Teams
            .Where(t => t.City == team.City);

        if (teamsInSameCity.Count() > 1)
            return team.AlternateName!;

        return team.City;
    }
}

<h1>@ViewBag.Title</h1>

<form asp-action="Playoffs" method="get">
    <div class="container schedule-controls align-items-center">
        <div class="row">
            <div class="col">
                Season:
                @Html.DropDownList("season", (IEnumerable<SelectListItem>)ViewBag.Seasons, new { onchange = "submit()" })
            </div>
            <div class="col">
                Round:
                @Html.DropDownList("round", (IEnumerable<SelectListItem>)ViewBag.Rounds, new { onchange = "submit()" })
            </div>
            @if ((season == 2021 && round < 3) ||
                 (season >= 2022 && round < 4))
            {
                <div class="col">
                    <span>Team:</span>
                    @Html.DropDownList("team", (IEnumerable<SelectListItem>)ViewBag.Teams, "All Teams", new { onchange = "submit()" })
                </div>
            }
            <div class="col text-center">
                <a asp-controller="Standings" asp-action="PlayoffBracket" asp-route-season="@season">Playoff Bracket</a>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row d-flex justify-content-center">
        @if (Model.Any())
        {
            foreach (var gameDate in dates)
            {
                ViewBag.Date = gameDate;
                <partial name="Layouts/Playoffs.cshtml" />
            }
        }
        else
        {
            <h4 class="text-danger text-center">There are no games available for this date range.</h4>
        }
    </div>
</div>
