@model KeyValuePair<string, List<string>>

@{
    int index = ViewBag.Index;
    Division division = ViewBag.Division;

    string ShortenedName() {
        return division.Name.Replace(" Division", "");
    }

    string DivisionCode() {
        return division.Code.ToLower();
    }

    string TeamListId() {
        return DivisionCode() + "-team-list";
    }
}

<div class="col-3 card container division-team-list">
    <div class="row">
        <div class="col">
            <h5>@ShortenedName()</h5>
        </div>
    </div>
    <div class="row">
        <div class="col card" id="team-drop-zone" ondragover="AllowDrop(event)" ondragleave="LeaveDropZone(event)" ondrop="DropTeam(event, '@DivisionCode()')">
            Drag and drop teams here.
        </div>
    </div>
    <div class="row">
        <div class="col" id="@TeamListId()">
            @for (int teamIndex = 0; teamIndex < Model.Value.Count; teamIndex++) {
                var team = Model.Value[teamIndex];
                @Html.Hidden($"Model.Value[{teamIndex}]", team);
                @Html.Partial("TeamCard.cshtml", team)
            }
        </div>
    </div>
</div>