@model Team

@{
    const string DIVISION = "division";
    const string CONFERENCE = "conference";
    const string INTERCONFERENCE = "inter-conference";
    const string LAST10 = "last-10";

    Guid teamId = Model.Id;
    int season = ViewBag.Season;
    Standings teamStats = ViewBag.TeamStats;

    string GetStreakString(int streak)
    {
        if (streak > 0)
            return $"W {streak}";

        if (streak < 0)
        {
            streak = Math.Abs(streak);
            return $"L {streak}";
        }

        return "--";
    }

    string GetGoalDifferentialString(int goalDifferential)
    {
        if (goalDifferential > 0)
            return $"+{goalDifferential}";

        return goalDifferential.ToString();
    }

    string GetRecordFormat(int season, Standings teamStats, string type = "overall")
    {
        if (season >= 2021 && season <= 2023)
        {
            return type switch
            {
                DIVISION => teamStats.RecordVsDivision_2021Format,
                CONFERENCE => teamStats.RecordVsConference_2021Format,
                INTERCONFERENCE => teamStats.InterConfRecord_2021Format,
                _ => teamStats.Record_2021Format
            };
        }
        else if (season >= 2024 && season <= 2025)
        {
            return type switch
            {
                DIVISION => teamStats.RecordVsDivision_2024Format,
                CONFERENCE => teamStats.RecordVsConference_2024Format,
                INTERCONFERENCE => teamStats.InterConfRecord_2024Format,
                _ => teamStats.Record_2024Format
            };
        }
        else
        {
            return type switch
            {
                CONFERENCE => teamStats.RecordVsConference_2026Format,
                INTERCONFERENCE => teamStats.InterConfRecord_2026Format,
                LAST10 => teamStats.RecordInLast10Games_2026Format,
                _ => teamStats.Record_2026Format
            };
        }
    }

    string GetTextColor(int value)
    {
        if (value > 0)
            return "text-success";

        if (value < 0)
            return "text-danger";

        return "text-black";
    }
}

<div class="container team-stats-grid">
    <div class="row">
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">RECORD</div>
                <div class="col stat">@GetRecordFormat(season, teamStats)</div>
            </div>
        </div>
        <div class="col container team-stat">
            @if (season < 2024 || season > 2025)
            {
                <div class="row">
                    <div class="col-4">POINTS</div>
                    <div class="col stat">@teamStats.Points</div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-4">PTS %</div>
                    <div class="col stat">
                        @((season >= 2024 && season <= 2025) ? 
                            string.Format("{0:.000}", teamStats.WinPct) :
                            string.Format("{0:.000}", teamStats.PointsPct))
                    </div>
                </div>
            }
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">STREAK</div>
                <div class="col stat @GetTextColor(teamStats.Streak)">@GetStreakString(teamStats.Streak)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">GF</div>
                <div class="col stat">@teamStats.GoalsFor</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">GA</div>
                <div class="col stat">@teamStats.GoalsAgainst</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">GD</div>
                <div class="col stat @GetTextColor(teamStats.GoalDifferential)">@GetGoalDifferentialString(teamStats.GoalDifferential)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">ROW</div>
                <div class="col stat">@teamStats.RegPlusOTWins</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">LAST 10</div>
                <div class="col stat">@GetRecordFormat(season, teamStats, LAST10)</div>
            </div>
        </div>
    </div>
</div>