@model Team

@{
    Guid teamId = Model.Id;
    int season = ViewBag.Season;
    Standings teamStats = ViewBag.TeamStats;

    string GetStreakString(int streak)
    {
        if (streak > 0)
            return $"W {streak}";

        if (streak < 0)
        {
            streak = Math.Abs(streak);
            return $"L {streak}";
        }

        return "--";
    }

    string GetGoalDifferentialString(int goalDifferential)
    {
        if (goalDifferential > 0)
            return $"+{goalDifferential}";

        return goalDifferential.ToString();
    }

    string GetRecordFormat(int season, Standings teamStats, string type = "overall")
    {
        if (season < 2024)
        {
            switch (type)
            {
                case "division":
                    return teamStats.RecordVsDivision_2021Format;

                case "conference":
                    return teamStats.RecordVsConference_2021Format;

                case "inter-conference":
                    return teamStats.InterConfRecord_2021Format;

                default:
                    return teamStats.Record_2021Format;
            }
        }
        else
        {
            switch (type)
            {
                case "division":
                    return teamStats.RecordVsDivision_2024Format;

                case "conference":
                    return teamStats.RecordVsConference_2024Format;

                case "inter-conference":
                    return teamStats.InterConfRecord_2024Format;

                default:
                    return teamStats.Record_2024Format;
            }
        }
    }

    string GetTextColor(int value)
    {
        if (value > 0)
            return "text-success";

        if (value < 0)
            return "text-danger";

        return "text-black";
    }
}

<div class="container team-stats-grid">
    <div class="row">
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">RECORD</div>
                <div class="col stat">@GetRecordFormat(season, teamStats)</div>
            </div>
        </div>
        <div class="col container team-stat">
            @if (season < 2024)
            {
                <div class="row">
                    <div class="col-4">POINTS</div>
                    <div class="col stat">@teamStats.Points</div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-4">WIN %</div>
                    <div class="col stat">@teamStats.WinPct</div>
                </div>
            }
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">STREAK</div>
                <div class="col stat @GetTextColor(teamStats.Streak)">@GetStreakString(teamStats.Streak)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">GF</div>
                <div class="col stat">@teamStats.GoalsFor</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">GA</div>
                <div class="col stat">@teamStats.GoalsAgainst</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">GD</div>
                <div class="col stat @GetTextColor(teamStats.GoalDifferential)">@GetGoalDifferentialString(teamStats.GoalDifferential)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">DIVISION RECORD</div>
                <div class="col stat">@GetRecordFormat(season, teamStats, "division")</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">CONF RECORD</div>
                <div class="col stat">@GetRecordFormat(season, teamStats, "conference")</div>
            </div>
        </div>
        <div class="col container team-stat">
            <div class="row">
                <div class="col-4">EC/WC RECORD</div>
                <div class="col stat">@GetRecordFormat(season, teamStats, "inter-conference")</div>
            </div>
        </div>
    </div>
</div>