@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    const string EAST = "EAST";
    const string WEST = "WEST";

    ViewData["Title"] = "Home Page";
    int season = ViewBag.Season;
    DateTime currentDate = ViewBag.CurrentDate;
    List<Game> todaysGames = ViewBag.TodaysGames;

    bool userIsAdmin = User.IsInRole("Admin");

    Dictionary<string, List<Standings>> standings = ViewBag.Standings;

    string GetName(Team team)
    {
        bool multipleTeamsInSameCity = _context.Teams.Count(t => t.City == team.City) > 1;
        if (multipleTeamsInSameCity)
            return team.AlternateName!;

        return team.City;
    }

    List<Standings> GetStandingsInRange(string conference, int highestRanking, int lowestRanking)
    {
        return standings[conference]
            .Where(s => s.ConferenceRanking >= highestRanking && s.ConferenceRanking <= lowestRanking)
            .ToList();
    }
}

<div class="container" id="home-page">
    <h1 class="text-center display-4">Sycamore Hockey League</h1>

    <div class="row" id="schedule-widget">
        <div class="col-7 card">
            <h4>Today's Games</h4>
            <h6>@currentDate.ToString("MMMM d, yyyy")</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align: right;">Away Team</th>
                        <th colspan="2">Scores</th>
                        <th colspan="2" style="text-align: left;">Home Team</th>
                        <th style="width: 170px;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (todaysGames.Any())
                    {
                        foreach (var game in todaysGames)
                        {
                            <tr>
                                <td style="text-align: right; width: 220px;">
                                    <a asp-controller="Teams" asp-action="Details" asp-route-id="@game.AwayTeam.Code" asp-route-season="@season" asp-route-gameType="regular-season">@GetName(game.AwayTeam)</a>
                                </td>
                                <td class="logo">
                                    <img src="~/@game.AwayTeam.LogoPath" />
                                </td>
                                @if (game.Status == "Not started")
                                {
                                    <td colspan="2" style="font-size: 14pt;">
                                        @@
                                    </td>
                                }
                                else
                                {
                                    <td class="score">
                                        @game.AwayScore
                                    </td>
                                    <td class="score">
                                        @game.HomeScore
                                    </td>
                                }
                                <td class="logo">
                                    <img src="~/@game.HomeTeam.LogoPath" />
                                </td>
                                <td style="text-align: left; width: 220px;">
                                    <a asp-controller="Teams" asp-action="Details" asp-route-id="@game.HomeTeam.Code" asp-route-season="@season" asp-route-gameType="regular-season">@GetName(game.HomeTeam)</a>
                                </td>
                                @if (userIsAdmin && !game.IsFinalized)
                                {
                                    <td>
                                        <a asp-controller="Schedule" asp-action="GameControls" 
                                           asp-route-date="@game.Date.ToString("yyyy-MM-dd")" 
                                           asp-route-awayTeam="@game.AwayTeam.Code" 
                                           asp-route-homeTeam="@game.HomeTeam.Code">@game.Status</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a asp-controller="Schedule" asp-action="GameCenter"
                                           asp-route-date="@game.Date.ToString("yyyy-MM-dd")"
                                           asp-route-awayTeam="@game.AwayTeam.Code"
                                           asp-route-homeTeam="@game.HomeTeam.Code">@game.Status</a>
                                    </td>
                                }
                                
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="no-games-today">
                            <td colspan="7">
                                <h5 class="text-danger">There are no games today.</h5>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-4 card" id="standings-widget">
            <h4>Standings</h4>
            <ul class="nav nav-pills nav-fill" id="conference-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="east-tab" title="Eastern Conference" data-bs-toggle="tab" data-bs-target="#east" type="button" role="tab" aria-controls="east" aria-selected="true">Eastern Conference</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="west-tab" title="Western Conference" data-bs-toggle="tab" data-bs-target="#west" type="button" role="tab" aria-controls="west" aria-selected="false">Western Conference</button>
                </li>
            </ul>
            <div class="tab-content" id="conference-tab-content">
                <div class="tab-pane fade show active" id="east" role="tabpanel" aria-labelledby="east-tab">
                    <ul class="nav nav-pills nav-fill" id="eastern-division-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="e1e4-tab" title="Atlantic Division" data-bs-toggle="tab" data-bs-target="#e1-e4" type="button" role="tab" aria-controls="atl" aria-selected="true">1-4</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="e5e8-tab" title="Northeast Division" data-bs-toggle="tab" data-bs-target="#e5-e8" type="button" role="tab" aria-controls="ne" aria-selected="false">5-8</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="e9e12-tab" title="Southeast Division" data-bs-toggle="tab" data-bs-target="#e9-e12" type="button" role="tab" aria-controls="se" aria-selected="false">9-12</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="eastern-division-tab-content">
                        <div class="tab-pane fade show active" id="e1-e4" role="tabpanel" aria-labelledby="e1e4-tab">
                            @{
                                ViewBag.DivisionStandings = GetStandingsInRange(EAST, 1, 4);
                                ViewBag.DivisionName = "1-4";
                            }
                            <partial name="Widgets/Standings.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="e5-e8" role="tabpanel" aria-labelledby="e5e8-tab">
                            @{
                                ViewBag.DivisionStandings = GetStandingsInRange(EAST, 5, 8);
                                ViewBag.DivisionName = "5-8";
                            }
                            <partial name="Widgets/Standings.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="e9-e12" role="tabpanel" aria-labelledby="e9e12-tab">
                            @{
                                ViewBag.DivisionStandings = GetStandingsInRange(EAST, 9, 12);
                                ViewBag.DivisionName = "9-12";
                            }
                            <partial name="Widgets/Standings.cshtml" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="west" role="tabpanel" aria-labelledby="west-tab">
                    <ul class="nav nav-pills nav-fill" id="western-division-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="w1w4-tab" title="Central Division" data-bs-toggle="tab" data-bs-target="#w1-w4" type="button" role="tab" aria-controls="cen" aria-selected="true">1-4</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="w5w8-tab" title="Northwest Division" data-bs-toggle="tab" data-bs-target="#w5-w8" type="button" role="tab" aria-controls="nw" aria-selected="false">5-8</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="w9w12-tab" title="Pacific Division" data-bs-toggle="tab" data-bs-target="#w9-w12" type="button" role="tab" aria-controls="pac" aria-selected="false">9-12</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="western-division-tab-content">
                        <div class="tab-pane fade show active" id="w1-w4" role="tabpanel" aria-labelledby="w1w4-tab">
                            @{
                                ViewBag.DivisionStandings = GetStandingsInRange(WEST, 1, 4);
                                ViewBag.DivisionName = "1-4";
                            }
                            <partial name="Widgets/Standings.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="w5-w8" role="tabpanel" aria-labelledby="w5w8-tab">
                            @{
                                ViewBag.DivisionStandings = GetStandingsInRange(WEST, 5, 8);
                                ViewBag.DivisionName = "5-8";
                            }
                            <partial name="Widgets/Standings.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="w9-w12" role="tabpanel" aria-labelledby="w9w12-tab">
                            @{
                                ViewBag.DivisionStandings = GetStandingsInRange(WEST, 9, 12);
                                ViewBag.DivisionName = "9-12";
                            }
                            <partial name="Widgets/Standings.cshtml" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
