@using Microsoft.AspNetCore.Identity
@using SycamoreHockeyLeaguePortal.Data
@inject ApplicationDbContext _context
@inject UserManager<ApplicationUser> UserManager

@{
    DateTime currentDate = DateTime.Now;
    int currentYear = currentDate.Year;
    ViewData["BackgroundImage"] = "detroit-vs-utah.png";

    bool userIsAdmin = User.IsInRole("Admin");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sycamore Hockey League</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SycamoreHockeyLeaguePortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            @if (ViewData["Title"] == "Home Page")
            {
                <div class="row flex-row flex-nowrap overflow-scroll" id="upcoming-games">
                    @{
                        var games = ViewBag.UpcomingGames;
                    }
                    
                    @for (int index = 0; index < games.Count; index++)
                    {
                        Schedule currentGame = games[index];
                        var previousGame = (index > 0) ? games[index - 1] : null;

                        if (index == 0 || previousGame.Date.Date.CompareTo(currentGame.Date.Date) != 0)
                        {
                            <div class="game-date">
                                <div class="date">
                                    <div class="month">@string.Format("{0}", currentGame.Date.ToString("MMM"))</div>
                                    <div class="day">@string.Format("{0}", currentGame.Date.Day)</div>
                                    <div class="year">@string.Format("{0}", currentGame.Date.Year)</div>
                                </div>
                            </div>
                        }

                        <div class="col-sm-1 card container score-card text-dark">
                            <div class="row">
                                <div class="col">
                                    <img src="~/@currentGame.AwayTeam.LogoPath" />
                                </div>
                                <div class="col">
                                    <img src="~/@currentGame.HomeTeam.LogoPath" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col score">
                                    @(currentGame.Status != "Not started" ? currentGame.AwayScore : "-")
                                </div>
                                <div class="col score">
                                    @(currentGame.Status != "Not started" ? currentGame.HomeScore : "-")
                                </div>
                            </div>
                            <div class="row-cols-2 status">
                                <a class="game-status-link" 
                                    asp-controller="Schedule" 
                                    asp-action="@(userIsAdmin ? "GameControls" : "GameCenter")" 
                                    asp-route-date="@currentGame.Date.ToShortDateString()" 
                                    asp-route-awayTeam="@currentGame.AwayTeam.Code" 
                                    asp-route-homeTeam="@currentGame.HomeTeam.Code">@currentGame.Status</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index"><h5>SHL</h5></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" 
                               asp-controller="Schedule" asp-action="Index" 
                               asp-route-season="@currentYear"
                               asp-route-weekOf="@currentDate.ToShortDateString()">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" 
                               asp-controller="Standings" asp-action="Index" 
                               asp-route-season="@currentYear" 
                               asp-route-viewBy="division">Standings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" 
                               asp-controller="Schedule" asp-action="Playoffs" 
                               asp-route-season="@currentYear" 
                               asp-route-round="1">Playoffs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" 
                               asp-controller="Champions" asp-action="Index">Champions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" 
                               asp-controller="Seasons" asp-action="Index">Seasons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" 
                               asp-controller="Teams" asp-action="Index">Teams</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="content-area">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; @currentYear Sycamore Hockey League. All rights reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
