@using SycamoreHockeyLeaguePortal.Models.InputForms
@model Season_CreateForm

@{
    ViewData["Title"] = "New Season";
    List<Team> teams = ViewBag.Teams;
    List<List<Division>> divisionLists = ViewBag.DivisionLists;
}

<h1>@ViewBag.Title</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* Season Info section *@
    <div class="row form-group">
        <div class="col">
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@Model.Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GamesPerTeam" class="control-label"></label>
                <input asp-for="GamesPerTeam" class="form-control" value="@Model.GamesPerTeam" />
                <span asp-validation-for="GamesPerTeam" class="text-danger"></span>
            </div>
        </div>
    </div>

    @* Alignments section *@
    <div class="row container form-group">
        <div class="row">
            <div class="col-2 card container">
                @foreach (var team in teams) {
                    @Html.Partial("Partials/TeamCard.cshtml", team);
                }
            </div>
            <div class="col-9">
                @for (int index = 0; index < Model.Conferences.Count; index++) {
                    ViewBag.Index = index;
                    ViewBag.Divisions = divisionLists[index];
                    var conference = Model.Conferences[index];
                    @Html.Partial("Partials/Conference.cshtml", Model)
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
