@using SycamoreHockeyLeaguePortal.Models.InputForms
@model Season_CreateForm

@{
    ViewData["Title"] = "New Season";
    List<Team> teams = ViewBag.Teams;
    List<List<Division>> divisionLists = ViewBag.DivisionLists;
}

<h1>@ViewBag.Title</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* Season Info section *@
    <div class="row form-group">
        <div class="col">
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@Model.Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="GamesPerTeam" class="control-label"></label>
                <input asp-for="GamesPerTeam" class="form-control" value="@Model.GamesPerTeam" />
                <span asp-validation-for="GamesPerTeam" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="EasternReplacementId" class="control-label"></label>
                @Html.DropDownList("EasternReplacementId", (IEnumerable<SelectListItem>)ViewBag.EasternReplacements, "Select Eastern replacement", new { @class = "form-control" })
                <span asp-validation-for="EasternReplacementId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="WesternReplacementId" class="control-label"></label>
                @Html.DropDownList("WesternReplacementId", (IEnumerable<SelectListItem>)ViewBag.WesternReplacements, "Select Western replacement", new { @class = "form-control" })
                <span asp-validation-for="WesternReplacementId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
