@model IEnumerable<SycamoreHockeyLeaguePortal.Models.Season>

@{
    ViewData["Title"] = "Seasons";
}

<h1>@ViewBag.Title</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Season</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamesPerTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPerTeam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
