@using Microsoft.AspNetCore.Identity
@using SycamoreHockeyLeaguePortal.Data
@model IEnumerable<Season>
@inject ApplicationDbContext _context
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Seasons";
    Dictionary<int, DateTime?> firstDaysOfSeasons = ViewBag.FirstDaysOfSeasons;
    Dictionary<int, bool> doSeasonsHavePlayoffSchedules = ViewBag.DoSeasonsHavePlayoffSchedules;
    bool userIsAdmin = User.IsInRole("Admin");
}

<h1>@ViewBag.Title</h1>

@if (userIsAdmin) {
    <p>
        <a class="btn btn-primary" asp-action="Create">+ Season</a>
    </p>
}

<div class="container">
    <div class="row d-flex justify-content-center">
        @foreach (var season in Model)
        {
            bool seasonHasSchedule = firstDaysOfSeasons[season.Year] != DateTime.MinValue;

            <div class="col-2 card text-center align-content-center">
                <h4>@season.Year</h4>
                <p class="text-secondary">@season.GamesPerTeam games</p>
                <div class="container">
                    @if (userIsAdmin) 
                    {
                        if (seasonHasSchedule)
                        {
                            <div class="row">
                                <div class="col">
                                    <a class="text-danger"
                                       asp-controller="Seasons" asp-action="GoLive"
                                       asp-route-year="@season.Year">Go Live</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col">
                                    <a class="text-primary"
                                       asp-controller="Schedule" asp-action="UploadSchedule"
                                       asp-route-year="@season.Year">Upload Schedule</a>
                                </div>
                            </div>
                        }
                    }
                    @if (seasonHasSchedule)
                    {
                        <div class="row">
                            <div class="col">
                                <a class="text-primary"
                                   asp-controller="Schedule" asp-action="Index"
                                   asp-route-weekOf="@firstDaysOfSeasons[season.Year]">Schedule</a>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col">
                            <a class="text-primary" 
                               asp-controller="Standings" asp-action="Index" 
                               asp-route-season="@season.Year" 
                               asp-route-viewBy="division">Standings</a>
                        </div>
                    </div>
                    @if (doSeasonsHavePlayoffSchedules[season.Year])
                    {
                        <div class="row">
                            <div class="col">
                                <a class="text-primary" 
                                   asp-controller="Schedule" asp-action="Playoffs"
                                   asp-route-season="@season.Year"
                                   asp-route-round="1">Playoffs</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>