@model IEnumerable<Season>

@{
    ViewData["Title"] = "Seasons";
}

<h1>@ViewBag.Title</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Season</a>
</p>

<div class="container">
    <div class="row d-flex justify-content-center">
        @foreach (var season in Model)
        {
            <div class="col-2 card text-center align-content-center">
                <h4>@season.Year</h4>
                <p class="text-secondary">@season.GamesPerTeam games</p>
            </div>
        }
    </div>
</div>
<!--
    <table class="table">
    <thead>
        <tr>
            <th>
@Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
@Html.DisplayNameFor(model => model.LongName)
            </th>
            <th>
@Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
@Html.DisplayNameFor(model => model.GamesPerTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.LongName)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.GamesPerTeam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>

-->
