@model IEnumerable<SycamoreHockeyLeaguePortal.Models.Champion>

@{
    ViewData["Title"] = "Champions";

    string GetOpponentFontSize(int roundIndex)
    {
        double fontSize = 14 - roundIndex;
        return $"{fontSize}pt";
    }
}

<h1>@ViewBag.Title</h1>

<div class="text-center align-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            @if (Model.Any())
            {
                int teamIndex = 0;
                
                foreach (var champion in Model)
                {
                    <div class="col-md-2 card champion-card">
                        <img class="champions-logo" src="@champion.Team.LogoPath" title="@champion.Team" alt="@champion.Team logo" />
                        <h4>@champion.Season.Year</h4>
                        <h6 class="champion">@champion.Team</h6>

                        @for (int roundIndex = 0; roundIndex < ViewBag.Rounds[teamIndex].Count; roundIndex++)
                        {
                            int roundNumber = (ViewBag.Rounds[teamIndex].Count - 1) - roundIndex;

                            @if (roundIndex == 0)
                            {
                                <strong style="font-size: @GetOpponentFontSize(roundIndex);">
                                    4-@(ViewBag.Rounds[teamIndex][roundIndex].SeriesLength - 4) vs <img class="champion-round-logo" src="~/@ViewBag.Rounds[teamIndex][roundIndex].Opponent.LogoPath" title="@ViewBag.Rounds[teamIndex][roundIndex].Opponent" /> @ViewBag.Rounds[teamIndex][roundIndex].Opponent.Code
                                </strong>
                            }
                            else
                            {
                                <span style="font-size: @GetOpponentFontSize(roundIndex);">
                                    4-@(ViewBag.Rounds[teamIndex][roundIndex].SeriesLength - 4) vs <img class="champion-round-logo" src="~/@ViewBag.Rounds[teamIndex][roundIndex].Opponent.LogoPath" title="@ViewBag.Rounds[teamIndex][roundIndex].Opponent" /> @ViewBag.Rounds[teamIndex][roundIndex].Opponent.Code
                                </span>
                            }
                            <br />
                        }
                    </div>

                    teamIndex++;
                }
            }
        </div>
    </div>
</div>