@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    int season = ViewBag.Season;
    PlayoffSeries matchup = ViewBag.Matchup;

    bool userIsAdmin = User.IsInRole("Admin");
    bool hasStartDate = matchup.StartDate != null;
    bool hasTeam1 = matchup.Team1 != null;
    bool hasTeam2 = matchup.Team2 != null;

    int DetermineTeamColumnWidth()
    {
        return matchup.IsConfirmed ? 6 : 9;
    }

    string IsTeamEliminated(Team team, int wins)
    {
        return Math.Max(matchup.Team1Wins, matchup.Team2Wins) == 4 && wins < 4 ?
            "text-muted" : "";
    }
}

<div class="row team">
    @if (matchup.IsConfirmed)
    {
        <div class="col-3 wins @IsTeamEliminated(matchup.Team1!, matchup.Team1Wins)">
            @matchup.Team1Wins
        </div>
    }
    @if (hasTeam1) {
        <div class="col-@DetermineTeamColumnWidth()">
            <a class="team-code muted-link @IsTeamEliminated(matchup.Team1, matchup.Team1Wins)" 
               asp-controller="Teams" asp-action="Details" 
               asp-route-id="@matchup.Team1!.Code" 
               asp-route-season="@season" 
               asp-route-gameType="playoffs">@matchup.Team1!.Code</a>
        </div>
        <div class="col-3 playoff-team">
            <img class="playoff-team logo" src="~/@matchup.Team1!.LogoPath" title="@matchup.Team1" alt="@matchup.Team1.Code" />
        </div>
    }
    else {
        <div class="col">
            <p>@matchup.Team1Placeholder</p>
        </div>
    }
</div>
<div class="row team">
    @if (matchup.IsConfirmed)
    {
        <div class="col-3 wins @IsTeamEliminated(matchup.Team2!, matchup.Team2Wins)">
            @matchup.Team2Wins
        </div>
    }
    @if (hasTeam2)
    {
        <div class="col-@DetermineTeamColumnWidth()">
            <a class="team-code muted-link @IsTeamEliminated(matchup.Team2!, matchup.Team2Wins)" 
            asp-controller="Teams" asp-action="Details" 
            asp-route-id="@matchup.Team2!.Code" 
            asp-route-season="@season" 
            asp-route-gameType="playoffs">@matchup.Team2!.Code</a>
        </div>
        <div class="col-3 playoff-team">
            <img class="playoff-team logo" src="~/@matchup.Team2!.LogoPath" title="@matchup.Team2" alt="@matchup.Team2.Code" />
        </div>
    }
    else
    {
        <div class="col">
            <p>@matchup.Team2Placeholder</p>
        </div>
    }
</div>
<div class="row">
    <div class="col">
        @if (matchup.IsConfirmed)
        {
            <a asp-controller="Games" asp-action="PlayoffSeries" asp-route-season="@season" asp-route-team1="@matchup.Team1!.Code" asp-route-team2="@matchup.Team2!.Code">Matchup</a>
        }
        else if (userIsAdmin)
        {
            <a asp-controller="PlayoffSeries" asp-action="Edit" asp-route-id="@matchup.Id">Edit</a>

            @if (hasStartDate && hasTeam1 && hasTeam2)
            {
                <a asp-controller="PlayoffSeries" asp-action="ConfirmPlayoffMatchup"
                   asp-route-season="@matchup.Season.Year" asp-route-index="@matchup.Index">Confirm</a>
            }
        }
    </div>
</div>