@model List<Standings>
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    IEnumerable<Standings> teams = ViewBag.Teams;
    int season = ViewBag.Season;
    string viewBy = ViewBag.ViewBy;

    string GetName(Team team)
    {
        bool multipleTeamsInSameCity = _context.Teams.Count(t => t.City == team.City) > 1;
        return multipleTeamsInSameCity ? team.AlternateName! : team.City;
    }

    string GetStreak(Standings teamStats)
    {
        if (teamStats.Streak != 0)
        {
            string type = (teamStats.Streak > 0) ? "W" : "L";
            int duration = Math.Abs(teamStats.Streak);
            return $"{type} {duration}";
        }

        return "--";
    }

    string GetColor(int value)
    {
        if (value > 0)
            return "text-success";

        if (value < 0)
            return "text-danger";

        return "text-dark";
    }

    string IsRowCutoff(int rank)
    {
        string defaultClass = "standings-record";

        string isCutoff = IsRowLeaderCutoff(rank);
        if (isCutoff != defaultClass)
            return isCutoff;

        isCutoff = IsRowPlayoffCutoff(rank);
        if (isCutoff != defaultClass)
            return isCutoff;

        return defaultClass;
    }

    string IsRowLeaderCutoff(int rank)
    {
        if (season == 2023 && viewBy == "playoffs")
            return rank == 2 ?
                "leader-cutoff" :
                "standings-record";

        return "standings-record";
    }

    string IsRowPlayoffCutoff(int rank)
    {
        int cutoff = viewBy == "playoffs" ? 8 : 4;

        if ((season <= 2022 && viewBy == "division") ||
            (season == 2023 && viewBy == "playoffs"))
            return (rank == cutoff) ?
                "playoff-cutoff" :
                "standings-record";

        return "standings-record";
    }

    string GetGoalDifferentialString(int goalDiff)
    {
        if (goalDiff > 0)
            return $"+{goalDiff}";

        return goalDiff.ToString();
    }

    List<List<Standings>> GetStandingsByDivision(string conference)
    {
        List<List<Standings>> standings = new List<List<Standings>>();

        var divisions = _context.Alignments
            .Where(s => s.Season.Year == season &&
                        s.Conference.Code == conference)
            .Select(d => d.Division)
            .Distinct();

        foreach (var division in divisions)
        {
            standings.Add(new List<Standings>());

            var teams = Model
                .Where(s => s.DivisionId == division.Id);

            foreach (var team in teams)
                standings.Last().Add(team);
        }

        return standings;
    }

    List<Standings> GetTeamsAtPosition(string conference, int highestPosition, int? lowestPosition = null)
    {
        List<Standings> teams = new List<Standings>();

        var divisions = _context.Alignments
            .Where(s => s.Season.Year == season &&
                        s.Conference.Code == conference)
            .Select(s => s.Division)
            .Distinct();

        if (lowestPosition != null)
        {
            for (int position = highestPosition; position <= lowestPosition; position++)
            {
                foreach (var division in divisions)
                {
                    var divisionStandings = Model
                        .Where(s => s.DivisionId == division.Id)
                        .ToList();

                    teams.Add(divisionStandings[position - 1]);
                }
            }
        }
        else
        {
            foreach (var division in divisions)
            {
                var divisionStandings = Model
                    .Where(s => s.DivisionId == division.Id)
                    .ToList();

                teams.Add(divisionStandings[highestPosition - 1]);
            }
        }

        return teams;
    }

    List<Standings> GetLeaders(string conference)
    {
        return GetTeamsAtPosition(conference, 1);
    }

    List<Standings> Get2ndPlaceTeams(string conference)
    {
        return GetTeamsAtPosition(conference, 2);
    }

    List<Standings> GetWildCards(string conference)
    {
        return GetTeamsAtPosition(conference, 3, 4);
    }

    string GetBadgeClass(int season, string playoffStatus)
    {
        string clinchedPresidentsTrophy = "bg-warning text-dark";
        string clinchedConference = "bg-success";
        string clinchedDivision = "bg-success";
        string clinchedHomeIceAdvantage = "bg-primary";
        string clinched2021PlayoffSpot = "bg-primary";
        string clinchedPlayoffSpot = "bg-secondary";
        string eliminated = "bg-danger";
        string demoted = "bg-dark text-white";

        if (season == 2021)
            return playoffStatus switch
            {
                "z" => clinchedPresidentsTrophy,
                "y" => clinchedDivision,
                "x" => clinched2021PlayoffSpot,
                "e" => eliminated,
                "d" => demoted,
                _ => ""
            };

        return playoffStatus switch
        {
            "P" => clinchedPresidentsTrophy,
            "Z" => clinchedConference,
            "Y" => clinchedDivision,
            "X" => clinchedHomeIceAdvantage,
            "x" => clinchedPlayoffSpot,
            "e" => eliminated,
            "d" => demoted,
            _ => ""
        };
    }

    string GetPlayoffStatusDescription(string symbol)
    {
        var description = _context.PlayoffStatuses
            .Where(ps => ps.Symbol == symbol &&
                         season >= ps.ActiveFrom &&
                         (season <= ps.ActiveTo || ps.ActiveTo == null))
            .Select(ps => ps.Description)
            .FirstOrDefault()!;

        return description;
    }

    string GetNextGame(Standings team)
    {
        var nextGame = _context.Schedule
            .Where(s => s.Season.Year == season &&
                        (s.AwayTeamId == team.TeamId ||
                         s.HomeTeamId == team.TeamId) &&
                        !s.IsLive && s.Period == 0)
            .First();

        string month = nextGame.Date.Month.ToString();
        string day = string.Format("{0:D2}", nextGame.Date.Day);
        bool isHomeOrAway = nextGame.HomeTeamId == team.TeamId;
        string homeOrAway = isHomeOrAway ? "vs" : "@";
        Team opponent = isHomeOrAway ? nextGame.AwayTeam : nextGame.HomeTeam;

        return $"{month}/{day} {homeOrAway} {opponent.Code}";
    }
}

<table class="table standings">
    <thead>
        <tr>
            <th class="ranking" title="Ranking">
                #
            </th>
            <th colspan="2" title="Team">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Team)
            </th>
            <th class="fixed-column" title="Games Played">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.GamesPlayed)
            </th>
            <th class="fixed-column" title="Wins">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Wins)
            </th>
            <th class="fixed-column" title="Losses">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Losses)
            </th>
            <th class="fixed-column" title="Overtime Losses">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.OTLosses)
            </th>
            <th class="fixed-column" title="Points">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Points)
            </th>
            <th title="Points Percentage">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.PointsPct)
            </th>
            <th class="fixed-column" title="Goals For">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.GoalsFor)
            </th>
            <th class="fixed-column" title="Goals Against">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.GoalsAgainst)
            </th>
            <th class="fixed-column" title="Goal Differential">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.GoalDifferential)
            </th>
            <th title="Streak">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.Streak)
            </th>
            <th class="fixed-column" title="Regulation Wins">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.RegulationWins)
            </th>
            <th class="fixed-column" title="Regulation + Overtime Wins">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.RegPlusOTWins)
            </th>
            <th class="record-column" title="Record vs. division opponents">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.RecordVsDivision_2021Format)
            </th>
            @if (season > 2021)
            {
                <th class="record-column" title="Record vs. conference opponents outside of division">
                    @Html.DisplayNameFor(model => model.FirstOrDefault()!.RecordVsConference_2021Format)
                </th>
            }
            <th class="record-column" title="Record vs. other conference">
                @Html.DisplayNameFor(model => model.FirstOrDefault()!.InterConfRecord_2021Format)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int rank = ViewBag.Rank ?? 1;

            foreach (var team in teams)
            {
                <tr class="@IsRowCutoff(rank)">
                    <th>
                        <a class="change-playoff-status" asp-action="PlayoffStatus" asp-route-season="@team.Season.Year" asp-route-team="@team.Team.Code" asp-route-currentStatus="@team.PlayoffStatus" asp-route-viewBy="@ViewBag.ViewBy">@rank</a>
                    </th>
                    <td class="team-logo">
                        <img src="~/@team.Team.LogoPath" width="25" height="25" />
                    </td>
                    <td class="team-name">
                        <a class="team-link" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Team.Code" asp-route-season="@season" asp-route-gameType="regular-season">@team.Team</a>
                        @if (team.PlayoffStatus != "")
                        {
                            <span class="badge @GetBadgeClass(season, team.PlayoffStatus!)" title="@GetPlayoffStatusDescription(team.PlayoffStatus!)">@team.PlayoffStatus</span>
                        }
                    </td>
                    <td class="text-secondary">
                        @Html.DisplayFor(modelteam => team.GamesPlayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.Wins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.Losses)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.OTLosses)
                    </td>
                    <th>
                        @Html.DisplayFor(modelteam => team.Points)
                    </th>
                    <td>
                        @string.Format("{0:.000}", team.PointsPct)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.GoalsFor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.GoalsAgainst)
                    </td>
                    <td class="@GetColor(team.GoalDifferential)">
                        @GetGoalDifferentialString(team.GoalDifferential)
                    </td>
                    <td class="@GetColor(team.Streak)">
                        @GetStreak(team)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.RegulationWins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.RegPlusOTWins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelteam => team.RecordVsDivision_2021Format)
                    </td>
                    @if (ViewBag.Season > 2021)
                    {
                        <td>
                            @Html.DisplayFor(modelteam => team.RecordVsConference_2021Format)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelteam => team.InterConfRecord_2021Format)
                    </td>
                </tr>

                rank++;
            }

            _context.SaveChanges();
        }
    </tbody>
</table>