@model IEnumerable<SycamoreHockeyLeaguePortal.Models.Alignment>

@{
    ViewData["Title"] = $"{ViewBag.Season} Division Alignments";

    var conferences = Model
        .Select(a => a.Conference)
        .Distinct();

    string ExtractNameFromDivision(string divisionName)
    {
        return divisionName.Replace(" Division", "");
    }
}

<h1>@ViewBag.Title</h1>

<form asp-action="Index" method="get">
    <p>
        Season:
        @Html.DropDownList("season", (IEnumerable<SelectListItem>)ViewBag.Seasons, new { onchange = "submit()" })

        <br /><br />
        <a class="btn btn-primary" asp-action="Create">New Alignment</a>
    </p>
</form>

<div class="alignments">
    @foreach (var conference in conferences)
    {
        var divisions = Model
            .Where(c => c.ConferenceId == conference.Id)
            .Select(c => c.Division)
            .Distinct();

        <h3>@conference.Name</h3>
        <div class="container conference">
            <div class="row">
                @foreach (var division in divisions)
                {
                    var teams = Model
                    .Where(d => d.DivisionId == division.Id)
                    .Select(d => d.Team)
                    .Distinct();

                    <div class="col-3 card division">
                        <h4>@ExtractNameFromDivision(division.Name)</h4>

                        <div class="container">
                            <div class="row">
                                <div class="col container">
                                    @foreach (var team in teams)
                                    {
                                        <div class="row team-info">
                                            <div class="col-4">
                                                <img src="~/@team.LogoPath" title="@team.FullName" alt="@team.Code" />
                                            </div>
                                            <div class="col">
                                                <h6>@team.City</h6>
                                                <h3 class="alignment-team-name">@team.Name</h3>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>