@model SycamoreHockeyLeaguePortal.Models.Team
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    var teamId = Model.Id;
    int season = ViewBag.Season;
    var schedule = ViewBag.Schedule;
    Standings teamStats = ViewBag.TeamStats;

    ViewData["Title"] = $"{season} {Model}";

    string GetDayOfWeek(DateTime date)
    {
        return date.ToString("dddd");
    }

    string GetMonth(DateTime date)
    {
        return date.ToString("MMMM");
    }

    string GetDateString(DateTime date)
    {
        return $"{GetDayOfWeek(date)}, {GetMonth(date)} {date.Day}";
    }

    string GetOpponent(Schedule game)
    {
        if (game.AwayTeamId == teamId)
            return $"@ {game.HomeTeam}";

        return game.AwayTeam.ToString();
    }

    string GetOpponentLogoPath(Schedule game)
    {
        if (game.AwayTeamId == teamId)
            return game.HomeTeam.LogoPath!;

        return game.AwayTeam.LogoPath!;
    }

    string GetResult(Schedule game)
    {
        if (!game.IsLive && game.Period >= 3)
        {
            if (game.HomeTeamId == teamId)
                return (game.HomeScore > game.AwayScore) ? "W" : "L";
            else
                return (game.AwayScore > game.HomeScore) ? "W" : "L";
        }

        return "";
    }

    string GetResultColor(Schedule game, string? result)
    {
        result = result ?? GetResult(game);

        switch (result)
        {
            case "W":
                return "win";

            case "L":
                return "loss";

            default:
                return "text-black";
        }
    }
}

<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <img src="~/@Model.LogoPath" title="@Model logo" alt="@Model logo" width="70" height="70" />
        </div>
        <div class="col" style="margin: auto;">
            <h1>@Model</h1>
        </div>
    </div>
</div>

<hr />
<div style="width: 750px; margin: auto;">
    <h3>@ViewBag.Season @ViewBag.GameType</h3>
    <form asp-action="Details" method="get" style="width: 750px; margin: auto;">
        <div class="container" id="team-schedule-options">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills nav-justified" id="team-schedule-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule" type="button" role="tab" aria-controls="schedule" aria-selected="true">Schedule</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="team-stats-tab" data-bs-toggle="tab" data-bs-target="#team-stats" type="button" role="tab" aria-controls="team-stats" aria-selected="false">Team Stats</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="team-schedule-tab-content">
                        <div class="tab-pane fade show active" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                            <div class="row">
                                <div class="col">
                                    Season:<br />
                                    @Html.DropDownList("season", 
                                                       (IEnumerable<SelectListItem>)ViewBag.Seasons, 
                                                       new { onchange = "submit()" })
                                </div>
                                <div class="col">
                                    Type:<br />
                                    @Html.DropDownList("gameType", 
                                                       (IEnumerable<SelectListItem>)ViewBag.GameTypes, 
                                                       new { onchange = "submit()" })
                                </div>
                                <div class="col">
                                    Opponent:<br />
                                    @Html.DropDownList("opponent", 
                                                       (IEnumerable<SelectListItem>)ViewBag.Opponents, "All Teams", 
                                                       new { onchange = "submit()" })
                                </div>
                            </div>
                            <partial name="Views/Schedule.cshtml" />
                        </div>
                        <div class="tab-pane fade" id="team-stats" role="tabpanel" aria-labelledby="team-stats-tab">
                            <partial name="Views/Stats.cshtml" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>