@model IEnumerable<Team>
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Teams";

    var mostRecentSeasons = ViewBag.MostRecentSeasons;
    int index = 0;
}

<h1>@ViewBag.Title</h1>

<div class="text-center align-content-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-md-2 card">
                        <img src="@item.LogoPath" title="@item.Code logo" alt="@item logo" width="50" height="50" />
                        <h5 style="font-family: 'Druk Text';">@item</h5>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Code" asp-route-season="@mostRecentSeasons[index]" asp-route-gameType="regular-season">Details</a>
                    </div>

                    index++;
                }
            }
        </div>
    </div>
</div>