@model SycamoreHockeyLeaguePortal.Models.Standings

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Standings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayoffStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayoffStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Losses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Losses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTLosses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTLosses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GamesBehind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GamesBehind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalsFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalsFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalsAgainst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalsAgainst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Streak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Streak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinsVsDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinsVsDivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LossesVsDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LossesVsDivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTLossesVsDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTLossesVsDivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinsVsConference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinsVsConference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LossesVsConference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LossesVsConference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OTLossesVsConference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OTLossesVsConference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterConfWins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterConfWins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterConfLosses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterConfLosses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterConfOTLosses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterConfOTLosses)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
