@model List<List<Standings[]>>
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Playoff Matchups";

    List<Conference> conferences = ViewBag.Conferences;
    int conferenceIndex = 0;
    int season = ViewBag.Season;

    List<List<int[]>> seeds = ViewBag.Seeds;

    string IsThickerLineNeeded(int index, int numberOfMatchups)
    {
        if (numberOfMatchups == 4 && index == (numberOfMatchups / 2) - 1)
            return "border-bottom: 2px solid black;";

        return "";
    }
}

<h1>If the playoffs started today...</h1>

<div class="container text-center align-content-center">
    <div class="row">
        <div class="col">
            <a asp-controller="Standings" asp-action="PlayoffBracket" asp-route-season="@season">Go to Playoff Bracket</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var conference in Model)
        {
            <div class="col-6" style="text-align: center;">
                <h3 class="conference" style="text-align: center; margin-bottom: 20px;">
                    @conferences[conferenceIndex].Name
                </h3>
                <table class="table" style="margin: auto;">
                    <tbody>
                        @{
                            int matchupIndex = 0;
                        }

                        @foreach (var matchup in conference)
                        {
                            Standings team1 = matchup[0];
                            Standings team2 = matchup[1];

                            <tr class="playoff-matchup" style="@IsThickerLineNeeded(matchupIndex, conference.Count)">
                                <td style="text-align: right; width: 35%;">
                                    <div style="margin-right: 15px;">
                                        <h6>@team1.Team.City</h6>
                                        <h3>@team1.Team.Name</h3>
                                    </div>
                                </td>
                                <td>
                                    <strong style="font-size: 18pt;">@seeds[conferenceIndex][matchupIndex][0]</strong>
                                </td>
                                <td class="col-1">
                                    <img class="team-logo" src="~/@team1.Team.LogoPath"
                                         title="@team1.Team - @team1.Division!.Code" />
                                </td>
                                <td class="vs">
                                    VS
                                </td>
                                <td class="col-1">
                                    <img class="team-logo" src="~/@team2.Team.LogoPath"
                                         title="@team2.Team - @team2.Division!.Code" />
                                </td>
                                <td>
                                    <strong style="font-size: 18pt;">@seeds[conferenceIndex][matchupIndex][1]</strong>
                                </td>
                                <td style="text-align: left; width: 35%;">
                                    <div style="margin-left: 15px;">
                                        <h6>@team2.Team.City</h6>
                                        <h3>@team2.Team.Name</h3>
                                    </div>
                                </td>
                            </tr>

                            matchupIndex++;
                        }
                    </tbody>
                </table>
            </div>

            conferenceIndex++;
        }
    </div>
</div>