@model SycamoreHockeyLeaguePortal.Models.Standings

@{
    ViewData["Title"] = "Playoff Status";
}

<div class="container">
    <div class="row">
        <div class="col-1">
            <img src="~/@Model.Team.LogoPath" title="@Model.Team.FullName logo" alt="@Model.Team.FullName" width="85" height="85" />
        </div>
        <div class="col">
            <h1>@Model.Season.Year @Model.Team.FullName</h1>
            <h4>Change Playoff Status</h4>
        </div>
    </div>
</div>

<div>
    <hr />

    <form asp-action="PlayoffStatus">
        <div class="form-group">
            <label class="control-label">Playoff Status</label>
            <select asp-for="PlayoffStatus" class="form-control">
                @if (Model.Season.Year == 2021)
                {
                    <option value="z">Clinched President's Trophy</option>
                    <option value="y">Clinched division</option>
                    <option value="x">Clinched playoff spot</option>
                    <option value="">Not clinched</option>
                    <option value="e">Eliminated</option>
                }
                else
                {
                    <option value="P">Clinched President's Trophy</option>
                    <option value="Z">Clinched conference</option>
                    <option value="Y">Clinched division</option>
                    <option value="X">Clinched home-ice advantage</option>
                    <option value="x">Clinched playoff spot</option>
                    <option value="">Not clinched</option>
                    <option value="e">Eliminated</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" asp-route-viewBy="@ViewBag.ViewBy" />
        </div>
    </form>
</div>